apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-app
spec:
  selector:
    matchLabels:
      app: frontend-app
  replicas: 2
  template:
    metadata:
      labels:
        app: frontend-app
    spec:
      
      containers:
        - name: frontend-app
          image: ghcr.io/cabinet-ceipi/cg-ceipi-gestiontransporteur-frontend-admin:latest
          ports:
            - containerPort: 3000
          env:
            - name: NEXT_PUBLIC_API_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: NEXT_PUBLIC_API_URL

          resources: 
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits: 
              memory: "512Mi"
              cpu: "500m"

      imagePullSecrets:
        - name: ghcr-secret-auth
      
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-app-service
spec:
  type: NodePort
  selector:
    app: frontend-app
  ports:
    - name: http
      port: 3000
      targetPort: 3000



